.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    container-name: inputContainer;
}

.label {
    color: white;
    transition: 0.7s ease-in-out;
    align-self: flex-start;
    width: 25em;
    margin: 20px 0px 5px 0px;
}

.input {
    font-weight: 500;
    font-size: 1em;
    width: 25em;
    color: #000000;
    background-color: rgb(97, 230, 230);
    box-shadow:
        0 0 0.4vw rgba(0, 0, 0, 0.5),
        0 0 0 0.15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: 0.7s ease-in-out;
    padding: 10px 30px 10px 5px;
    align-self: flex-start;
}

.input:hover {
    box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
    box-shadow: 0 0 0 0.15vw skyblue;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.eyeButton {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #666;
    padding: 0;
}

.eyeButton:hover {
    color: #333;
}
@container inputContainer (max-width: 469px) {
    .input,
    .label {
        width: 16.2em;
    }
}
